<table border="0" width="100%" cellpadding="0" cellspacing="10">
    <tr>
        <td>
            <h4>MENÚ</h4>
        </td>
    </tr>
    <tr>
        <td>
            <ul>
                <li><a href="{$gvar.l_global}registrarprofesor.php">Registrar Profesor</a></li>
                <li><a href="{$gvar.l_global}listarprofesor.php">Listar Profesor</a></li>
                <li><a href="{$gvar.l_global}modificarprofesor.php">Modificar Profesor</a></li>
            </ul>
        </td>
    </tr>
</table>