<table border="0" width="100%" cellpadding="0" cellspacing="10">
    <tr><td><b>Profesores</b></td></tr>
    {section loop=$profesor name=i}
    <tr>
        <td>
            <b>Cedula:</b> {$profesor[i]->get('cedula')}<br />
            <b>Nombre:</b> {$profesor[i]->get('nombre')}<br />
            <b>Fecha de Nacimiento:</b> {$profesor[i]->get('fechanac')}<br />
            <b>Lugar de Nacimiento:</b> {$profesor[i]->get('lugarnac')}<br />
            <b>Titulo:</b> {$profesor[i]->get('titulo')}<br />
            <b>Departamento:</b> {$profesor[i]->get('depto')}                        
        </td></tr>
    {/section}
</table>
