<div class="square">
    <form action="{$gvar.l_global}registrarprofesor.php?option=add" method="post">
        <table width="100%" border="0" cellpadding="0" cellspacing="5">
            <tr>
                <td>
                    <b>Registrar un Profesor </b><br /><br />
                    <b>Ingrese la cedula:</b> <input type="number" min="0" name="cedula" /><br />
                    <b>Ingrese el nombre:</b> <input type="text" name="nombre" /><br />
                    <b>Ingrese la fecha de nacimiento:</b> <input type="date" name="fechanac" /><br />
                    <b>Ingrese el lugar de nacimiento:</b> <input type="text" name="lugarnac" /><br />
                    <b>Ingrese el título (Msc, PhD):</b> <input type="text" name="titulo" /><br />
                    <b>Ingrese el departamento:</b> <input type="text" name="depto" /><br />
                    <input class="btn btn-primary" type="submit" value="Registrar" />
                </td>
            </tr>
        </table>
    </form>
</div>
